{% extends 'bash.html' %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show message" role="alert">
        {% if message.tags %}
        {{ message }}
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</ul>
{% endif %}



<!-- Button trigger modal -->
<div class="row">
    <div class="col-md-10">
        <nav aria-label="breadcrumb" class="nav_navigarion">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Income</a></li>
                <li class="breadcrumb-item"><a href="{% url 'user_income_index' %}"> My Income</a></li>
                <li class="breadcrumb-item">Edit My Income</li>
            </ol>
        </nav>
    </div>
    <div class="col-sm-2">
        <!-- delete button -->
    </div>
</div>
<hr>
<div class="contain">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Income Amount</label>
            <input type="text" name="amount"  class="form-control" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" name="des"  class="form-control" required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Expence Source</label>
            <select name="expence_category" class="form-select"
                id="inputGroupSelect04" aria-label="Example select with button addon">
                <option>job</option>
                <option value="Foods">Other</option>
                <!-- <option value="Rent">Rent</option>
                <option value="Travel">Travels</option>
                <option value="EMI">EMI</option>
                <option value="Other">Other</option> -->

            </select><br>
            <div class="form-group">
                <label for="exampleInputEmail1">Date</label>
                <input type="date" name="date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>



{% endblock %}