/* .add_expence_btn{
    width: 100%;
    position: absolute;
    right: 0px;
    left: 83%;
}
.nav_navigarion{
    position: relative;
    left: 0;
} */
.messages{
    margin: 0px !important;
}
.alert{
    padding: 2px 10px !important;
}
.close{
    line-height: 0px !important;
}
.all_expences h6{
    color: teal;
    font-weight: 600;
    letter-spacing: 1px;
}


/* serach area */
.search_area{
    width: 250px;
    border: none;
    height: 30px;
    border-radius: 10px;
    border: 2px solid teal;
    margin-bottom: 10px;
    padding: 5px 10px;
}
.search_area:hover{
    border: 2px solid teal !important;
}
.search_btn{
    padding: 4px 15px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    /* margin-bottom: -16px; */
    /* margin-top: 0px 0px 5px 0px; */
    margin-top: -10px;
}
.search_btn{
    padding: 5px 10px;
    color: white;
    background-color: rgb(9, 92, 9);
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 2px;
} 
.search_option{
    margin-bottom: 10px;
}