{% extends 'home.html' %}
{% load static %}

{% block title %}
    Expenses-About
{% endblock %}

{% block home %}
<div class="container-fluid" style="background-image: url(../static/media/dalmatian-spots.svg);">
   <div class="container">
      <div class="page_heading">
         About
      </div>
      <div class="service_text">
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non natus officia molestiae deserunt repellat
            corrupti quidem error eveniet, repudiandae voluptate. Maiores et nisi, non doloremque modi earum tempore,
            deleniti ipsa distinctio blanditiis illum amet nesciunt unde delectus error saepe incidunt dolorum
            quibusdam quia nulla dolore id! Inventore blanditiis enim sint amet aliquid odio sunt soluta aperiam!
            Nesciunt fugit dignissimos doloremque unde incidunt eum porro optio id laboriosam rerum eligendi esse,
            accusantium, nulla ipsam facilis? Explicabo modi rerum vel, molestias voluptatibus autem.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis saepe dolorem animi, sit accusamus quam
            ipsa quod beatae. Eveniet illo totam eaque tempore, voluptates nesciunt quod itaque blanditiis! Alias,
            laudantium.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore. Lorem ipsum dolor sit amet consectetur adipisicing elit.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque
            quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore.
         </p>
         <p>--
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam iusto excepturi itaque quaerat! Dolores
            cumque ad numquam odit deleniti aut doloremque quibusdam culpa? Iste consequuntur quia iure ipsam
            quibusdam labore.
         </p>

      </div>
   </div>
</div>
{% endblock %}