{% extends 'bash.html' %}

{% block content %}

<div class="row">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show message" role="alert">
            {% if message.tags %}
            {{ message }}
            {% endif %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    </ul>
    {% endif %}



    <!-- Button trigger modal -->
    <div class="col-md-10">
        <nav aria-label="breadcrumb" class="nav_navigarion">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Expence</a></li>
                <li class="breadcrumb-item">My Expence</< /li>
            </ol>
        </nav>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Add Expences
        </button>
    </div>
    <hr>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Your Expences</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add_expences' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expence Amount</label>
                        <input type="text" name="add_amount" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <input type="text" name="des" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Expence Category</label>
                        <select name="expence_category" class="form-select" id="inputGroupSelect04"
                            aria-label="Example select with button addon">
                            <option selected value="foods">Foods</option>
                            <option value="rent">Rent</option>
                            <option value="travel">Travels</option>
                            <option value="emi">EMI</option>
                            <option value="shopping">Shopping</option>
                            <option value="other">Others</option>

                        </select>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Date</label>
                            <input type="date" name="date" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<div class="all_expences">
    <div class="row">
        <h6 class="col-md-8">All Expences</h6>
        <!-- <div class="col-md-4">
            <form method="POST">
                {% csrf_token %}
                <input type="search" class="search_area" name="search_input">
                <input type="submit" class="search_btn" value="Search" ></inpu>
            </form>
        </div> -->
    </div>

    {% if expence_user_data.count %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <!-- <th scope="col">S.no</th> -->
                <th scope="col">Amount</th>
                <th scope="col">Category</th>
                <th>Description</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for data in page_obj %}
            <tr>
                <!-- <th scope="row">{{ forloop.counter }}</th> -->
                <td>{{ data.amount }}</td>
                <td>{{ data.category }}</td>
                <td>{{ data.description }}</td>
                <td>{{ data.date }}</td>

                <td>
                    <a href="{% url 'edit_expense' data.id %}">Edit</a>
                    <!-- <a href="{% url 'delete_expense' data.id %}" onclick="return confirm ('Are you sure?')"" > delete</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<div class="paginator" style="display: flex; justify-content: space-between;">
    <div>
        <span>
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
    </div>
    <div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <!-- <a href="?page=1">&laquo; first</a> -->
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <!-- <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> -->
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock %}