{% extends 'bash.html' %}

{% block content %}

<h5 style="color: teal; font-weight: 600;">Preferred Currency</h5>
<hr>
<div class="container">
    <div class="input-group">
        <form action="{% url 'preference' %}" method="post">
            {% csrf_token %}
            <select name="currency" class="form-select">
                <option selected>Choose...</option>
                {% for currency in currencies %}
                <option selected name="currency" value="{{ currency.key }}">
                    {{ currency.key }} - {{ currency.value }}
                </option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Set</button>
        </form>
    </div>
</div>

{% endblock %}