{% extends 'home.html' %}
{% block style %}
<link rel="stylesheet" href="../static/css/index.css">
{% endblock %}

{% block home %}
<section class="main_section">
   <div class="main_sub_section">
      <div class="main_section_heading">
         Welcome To My Website <span class="app_name">Expenses</span>
         <p class="heading_sub_text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ratione illo
            velit obcaecati necessitatibus ab magni nemo.
         </p>
         <div class="row auth_btn">
            <div class="col-md-6 auth_btns">
               <a type="button" href="{% url 'register' %}">Register</a>
            </div>
            <div class="col-md-6 auth_btns">
               <a type="button" href="{% url 'user_log' %}">Login</a>
            </div>
         </div>
      </div>
   </div>
   <div class="avtar">
      <img src="../static/media/1676687387business-person-taking-an-ok-pose-svgrepo-com.svg" alt="">
   </div>
</section>
{% endblock %}
<!-- <div class="auth_btn">
   <a type="button" href="{% url 'register' %}">Register</a>
</div>
<div class="auth_btn">
   <a type="button" href="{% url 'user_log' %}">Login</a>
</div> -->