{% extends 'home.html' %}
{% load static %}
{% block home %}
<section class="main_section">
   <div class="main_card">
      <div class="row">
         <div class="col-sm-6">
            <img class="avtar" src="../static/media/1676687387business-person-taking-an-ok-pose-svgrepo-com.svg" alt=""
               srcset="">
         </div>
         <div class="col-sm-6 btn_area">
            <div class="heading_text">
               <p>Track Your Expenses</p>
               <span><span class="text_quotation">&#8220</span> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Suscipit nihil aut nulla iure, atque nemo error labore illum, minima perferendis itaque earum, quidem
                  a sed aliquam voluptatibus laudantium voluptate consequatur, minima perferendis itaque earum, quidem a
                  sed aliquam voluptatibus laudantium voluptate consequatur<span
                     class="text_quotation">&#8221</span></span>
            </div>

            <div class="btns">
               <div class="auth_btn">
                  <a type="button" href="{% url 'register' %}">Register</a>
               </div>
               <div class="auth_btn">
                  <a type="button" href="{% url 'user_log' %}">Login</a>
               </div>

            </div>

         </div>
      </div>

   </div>

</section>
{% endblock %}